asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-environ
django-filter
djangorestframework
idna
Markdown
pillow
psycopg2
psycopg2-binary
python-dotenv
requests
sqlparse
sslcommerz-lib
urllib3
whitenoise